*{
	padding: 0;
	margin: 0;
}
li{
	list-style: none;
}
.tip{
	height: 20px;
	background: #ccc;
}
.topcenter{
	width: 1000px;
	margin: 0 auto;
	height: 20px;
	overflow: hidden;
}
.img{
	width: 30px;
	float: left;
	margin-bottom: 1px;
}
.pd{
	overflow: hidden;
}
.p{
	float: left;
	color: red;
}

.box{
	width: 1200px;
	height: 380px;
	margin: 20px auto;
	position: relative;
	overflow: hidden;
}
.slider{
	width: 8400px;
	position: absolute;
	left: -1200px;
}
.slide{
	width: 1200px;
	overflow: hidden;
	float: left;
}
.box>span{
	display: block;
	width: 30px;
	height: 50px;
	text-align: center;
	cursor: pointer;
	color: #eee;
	top: 175px;
	line-height: 50px;
	background: rgb(255,0,0);
	font-size: 30px;
	position: absolute;
	opacity: 0;
}
#left{
	left: 30px;
}
#right{
	right: 30px;
}
.nav{
	position: absolute;
	left: 500px;
	bottom: 20px;
}
.nav>li{
	float: left;
	width: 20px;
	height: 20px;
	background: #ccc;
	cursor: pointer;
	margin: 0 10px;
	border-radius: 50%;
	text-align: center;
}
.nav .active{
	background: red;
}